# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
logs/**/*.log

# OS files
.DS_Store
Thumbs.db

# Build
dist/
build/

# IDEs
.vscode/
.idea/
*.swp

# Testing
coverage/
jest.config.js

# Others
*.tgz
